<!DOCTYPE html>
<html>

<head>
    <title>THING THERAPIST 🔮</title>
</head>

<body>

    <h1>🔮THING THERAPIST</h1>

    <p>Because even objects need life advice.</p>

    <h2>Upload an object that needs advice 📸</h2>

    <form method="POST" enctype="multipart/form-data">

        <input
            type="file"
            name="image"
            accept="image/*"
            required
        >

        <br><br>
        <img id="preview" style="display:none; max-width:300px; border-radius:15px;">

        <button type="submit">
            Give Advice
        </button>
        <a href="/">← Back to Home</a>

    </form>

    {% if result %}

        <h2>{{ result }}</h2>

    {% endif %}
<script>
function previewImage(event) {
    const image = document.getElementById("preview");

    image.src = URL.createObjectURL(event.target.files[0]);

    image.style.display = "block";
}
</script>

</body>

</html>